.home-card {
  position: relative;
  width: 100%;
  max-width: 372px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  height: 400px;
}

.home-card-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  margin-top: -4rem;
}

.home-card:hover .home-card-image img {
  transform: scale(1.05);
}

.home-card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  text-align: left;
  padding: 1rem;
  height: 80px;
  line-height: 50px;
  height: auto;
}

.home-card-content h1 {
  font-family: var(--font-serif);
  font-size: 1.2rem;
  color: var(--ro-black);
  text-transform: capitalize;
  margin: 0;
  text-decoration: none;
}

.home-card-content p {
  font-size: 0.9rem;
  color: var(--ro-black);
  margin: 0.5rem 0 0 0;
  text-decoration: underline;
  cursor: pointer;
}




@media (max-width: 768px) {
  .home-card {
    max-width: 350px;
    height: 200px;
  }

  .home-card-image {
    height: 250px;
  }
  .home-card-content{
    display:none;
  }

  .home-card h1 {
    font-size: 1.25rem;
    padding: 1.25rem;
  }
}

@media (max-width: 480px) {
  .home-card {
    max-width: 300px;
    height: 200px;
  }

  .home-card-image {
    height: 200px;
  }

  .home-card h1 {
    font-size: 1.1rem;
    padding: 1rem;
  }

  .home-card-content {
    display:none;
    height: 200px;
  }

  .home-card-content h3 {
    font-size: 1.1rem;
  }

  .home-card-content p {
    font-size: 0.9rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}