@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, #root {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  color: var(--ro-black);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffcf9;
  height: 100%;
}

.container {
  max-width: 2000px;
  margin: 0;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  flex: 1;
}
