.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.layout-main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  padding-top: calc(72px + 2rem); 
  padding-bottom: 2rem;
}

.layout-main.has-navbar {
  padding-top: calc(72px + 2rem);
}
