
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;  
  min-height: 100vh; 
  gap: 1rem;
}

.grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  gap: 2rem 0.1rem;
  width: 100%;
  max-width: 1200px;
}

.banner{
  margin-top: -2rem;
  height: 150px;
  width: 100vw;
  background-color: var(--ro-beige);
  font-size: 3rem;
  font-weight: lighter;
  font-family: var(--font-serif);
  text-align: center;
  line-height: 150px;
  color: white;
}

.ban{
  font-size: 3rem;
  font-weight: lighter;
  font-family: var(--font-serif);
  text-align: center;
}

.filters{
  margin-top: 2rem;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#category-selector, #sort-selector{
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--ro-black);
  background-color: transparent;
  cursor:pointer;
}

#category-selector:focus,
#sort-selector:focus {
  outline: none;
  border-color: var(--ro-black);
}