.card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
  }
  
  .card-image {
    aspect-ratio: 1 / 1;  
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #f9f9f9;
    background: linear-gradient(to bottom, #d0bea94c, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .card-image img{
    margin-top: -3rem;
    width: 70%;
    height: 70%;
    object-fit:contain; 
    object-position: center;
    transition: transform 0.5s ease;
  }

  .card-link {
    display: block;
  }
  
  .card:hover .card-image img {
    transform: scale(1.05);
  }
  
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    padding: 1rem;
    height: 80px;
    line-height: 50px;
  }
  
  .card-content h1 {
    font-family: var(--font-serif);
    font-size: 1.2rem;
    color: var(--ro-black);
    text-transform: capitalize;
    margin: 0;
    text-decoration: none;
  }
  
  .card-content p {
    font-size: 0.9rem;
    color: var(--ro-black);
    margin: 0.5rem 0 0 0;
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .card {
      max-width: 350px;
      height: 350px;
    }
  
    .card-image {
      height: 250px;
    }
  
    .card h1 {
      font-size: 1.25rem;
      padding: 1.25rem;
    }
  }
  
  @media (max-width: 480px) {
    .card {
      max-width: 300px;
      height: 300px;
    }
  
    .card-image {
      height: 200px;
    }
  
    .card h1 {
      font-size: 1.1rem;
      padding: 1rem;
    }
  
    .card-content {
      padding: 1.25rem;
    }
  
    .card-content h3 {
      font-size: 1.1rem;
    }
  
    .card-content p {
      font-size: 0.9rem;
    }
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }