.page-body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    align-self: center;
    height: 90vh;
    margin-top: 2rem;
  }

  .serif {
    font-family: var(--font-serif);
  }
  
  .image-gallery {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;   
    align-items: flex-start;
    justify-content: flex-start;
}
  
  .display-image {
    display: flex;
    height: 100%; 
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
  }

  .display-image img{
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    object-fit: cover;
  }
  
  .all-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
    justify-self: flex-end;
    width: 100%;
    overflow-x: scroll;
  }
  
  .all-images img {
    width: 80px;
    height: 80px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    cursor: pointer;
    object-fit: cover;
  }

  .all-images img:hover{
    transform: translateY(-2px)
  }
  
  .info {
    width: 40%;
    overflow: wrap;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .info button {
    width: 100%;
    min-height: 50px;
    min-width: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 1.5rem;
    background-color: var(--ro-beige);
    color: var(--ro-black);

    text-transform: uppercase;

    border:none;
    cursor: pointer;
    transition: all 0.3s ease;
  }


.info button:hover {
    background-color: var(--ro-black);
    color: var(--ro-beige);
  }
  
  .info h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: -1rem;
  }

  .price{
    font-size: 1rem;
    padding: 0.5rem 0;
    width: auto;
  }


  .details-list ul{
    margin-top: 0.5rem;
    margin-left: 1rem;
  }

  .details-list p{
    font-family: var(--font-sans);
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .active{
    transform: translateY(-2px);
    border-bottom: 20px solid var(--ro-beige);
  }
  

  .links{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: var(--ro-black);
    width: auto;
    padding-left:4.3rem;
  }

  .current-item{
    color: var(--ro-beige);
  }

.description-container {
    width: 100%;
    margin-top: 2rem;
  }
  
  .description-title {
    font-family: var(--font-sans);
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .description-divider {
    width: 100%;
    height: 2px;
    background-color: var(--ro-black);
    border: none;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
  }
  
  .description {
    line-height: 1.6;
    color: var(--ro-black);
    transition: max-height 0.3s ease;
  }
  
  .description.collapsed {
    max-height: 0;
    overflow: hidden;
  }
  
  .description.expanded {
    height: auto;
    max-height: 14rem;
    overflow-y: scroll;
  }

  .desc-title-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
   .info .description-container button, .desc-toggle {
    background: none;
    border: none;
    color: var(--ro-black);
    cursor: pointer;
    font-weight: bold;
    margin-top: 0.5rem;
    width: auto;
    font-size: 1rem;
  }
  