:root {
  --ro-beige: #d0bea9;
  --ro-beige-rgb: 245, 245, 220;
  --ro-black: #1A1A1A;
  --ro-gold: #998545;

  --font-serif: 'Playfair Display', Georgia, serif;
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 